$color-primary: #5bac6f;
$color-primary-light: #7ed56f;
$color-primary-light-2: #afeba4;
$color-primary-dark: #438253;

$color-secondary: #ffb900;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary: #b92626;
$color-tertiary-light: #ec5d5d;
$color-tertiary-dark: #8b2e2e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #e7e7e7;
$color-grey-light-4: #ddd;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #212121;
$color-grey-dark-5: #1b1b1b;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//BORDER
$thin-grey-border-1: 2px solid $color-grey-light-3;

$translate-default: -3px;